<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <connectionStrings>
    <add name="ConnBandBox" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\Project CSS\BandBox\DB\BandBox.accdb;Persist Security Info=True;"
    providerName="System.Data.OleDb" />
    
  </connectionStrings>
  <appSettings>
    <!--<add key="ConnRep" value="D:\DB\CR\"/>-->
  <add key="ConnRep" value="E:/Project CSS/BandBox/DB/CR/"/>
  <add key="KeyFrom" value="04/04/2018"/>
  <add key="KeyTo" value="04/15/2018"/>
  <add key="KeyPer" value="20"/>
  </appSettings>
  
</configuration>